*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: darkblue;
    width: 600px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

.fachada{
    background-image: url(img/texturafachada.jpg);
    width: 250px;
    height: 300px;
    position: absolute;
    bottom:0;
    right: 170px;
    
}
.tejado{
     background-image: url(img/tejado.jpg);
     width: 30px;
     height: 0;
     border-right: 120px solid transparent;
     border-top: 100px solid transparent;
     border-left: 100px solid transparent;
     border-bottom: 100px solid rgb(187, 114, 12);
    background-repeat: no-repeat;
    position:absolute;
    left:  180px;
}
    
.luna {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 30px 10px 0 whitesmoke;
        
}
#ventanatejado{
    
     width: 50px; 
     height: 50px; 
     border: 5px solid darkred;
    border-radius: 50%;
     background: black;
    position: absolute;
    left: -14px;
    top: 20px;

}
#ventana1{
    background-color: lightyellow;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50px;
    left: 40px;
    display: inline-block;
    border: solid 5px darkred;
    
}
#ventana2{
    background-color: lightyellow;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50px;
    left: 150px;
    display: inline-block;
    border: solid 5px darkred;
}
#puerta{
    background-image: url(img/puerta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 75px;
    
}
.arboltronco{
    background-color: saddlebrown;
    width: 50px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 70px;
        
}
.arbolcopa{
    background-color: darkgreen;
    width: 150px;
    height: 150px;    
    border-radius: 50%;
    position: absolute;
    bottom: 190px;
    left: 20px;
}
#chimenea{
    background-color: sandybrown;
    width: 50px;
    height: 80px;
    position: absolute;
    left: 350px;
    top: 120px;
    
}
#humo{
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius:20% 90% 30% 90%;
    position: absolute;
    right: 200px;
    top: 35px;
    
}